.btn {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid rgb(46, 238, 46);
    color: rgb(46, 238, 46);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 0.3em 1.0em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 5px;
  }