.root > header {
    background: black;
    display:flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
}
.login{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .login form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }