@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.root header{
    text-align: center;
}
.container{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.container h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Staatliches';
    margin: 50px;
    padding: 0px;
}
.container img{
    text-align: center;
    font-size: 30px;
    font-family: 'Staatliches';
    margin: 50px;
    padding: 0px;
}
.body {
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 1.0em;
    width: 350px;
    height: 400px;
    flex-wrap: wrap;
}
.text {
    margin: 50px;
    flex-flow: inherit;
    font-family: 'Staatliches';
    color:black;
    /* text-shadow: 2px 2px rgb(36, 195, 36); */
    font-size: 30px;
    font-weight: bold;
}
.text2 {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Staatliches';
    color:black;
    /* text-shadow: 2px 2px rgb(36, 195, 36); */
    font-size: 20px;
    font-weight: bold;
}
.p {
    font-family: 'Staatliches';
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    color: rgb(36, 195, 36)
}
.f{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 300px;
    padding: 10px;
    margin: auto;
    font-size: 10px;
    font-family: 'Indie Flower';
}
    .f h2{
        font-family: 'Staatliches';
    }
.loja{
    margin: 10px;
    max-width: 80px;
    width: 100%;
}
.logo{
    margin: 30px;
    max-width: 300px;
    width: 100%;
}
.images{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}