.root{
  background-image: url(../../public/content/fundo.png);
  background-size: cover;
}
.root h1 {
    color: rgb(36, 195, 36);
    text-shadow: 2px 2px black;
    text-align: center
}
.root h2 {
    color:black;
    text-shadow: 2px 2px rgb(36, 195, 36);;
    text-align: center
}
.parceiros  {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center; 
    display: flex;
    gap: 80px 80px; /* row-gap column gap */
}