@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.root > header {
    background: black;
    display:flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
}
.login{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .login form{
    position: absolute;
    top: 0px;
    right: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .click {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .click form{
    position: relative;
    top: 0px;
    right: 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  p {
    font-size: 15px;
  }
  .footer{
    text-align: center;
    background: black;
}
.footer p{
  background-color: transparent;
  font-size: 30px;
  color: white;
  margin: 0px;
  font-family: 'Staatliches';
}