.root header{
    text-align: center;
}
.body {
    background-color: transparent;
    text-align: center;
    border-style: solid;
    border: 2px solid rgb(46, 238, 46);
    border-radius: 1.0em;
    padding: 0.3em 0.5em;
    color: rgb(46, 238, 46);
    width: 350px;
    height: 400px;  
    margin: auto;  
}
.root h2 {
    color:black;
    text-shadow: 2px 2px rgb(36, 195, 36);
    text-align: center
}
.p {
    background-color: transparent;
    color: rgb(36, 195, 36)
}