@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.root header{
    text-align: center
;
}
.body {
    justify-content: center;
    background-color: transparent;
    text-align: center;
    border-style: solid;
    border-radius: 1.0em;
    width: 350px;
    height: 400px;
    margin: auto;  
}
.text {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    font-family: 'Staatliches';
    color:black;
    /* text-shadow: 2px 2px rgb(36, 195, 36); */
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.p {
    background-color: transparent;
    color: rgb(36, 195, 36)
}
.f{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 300px;
    padding: 10px;
    margin: auto;
    font-size: 10px;
    font-family: 'Indie Flower';
}
.loja{
    margin: 10px;
    max-width: 80px;
    width: 100%;
}
.logo{
    margin: 10px;
    max-width: 300px;
    width: 100%;
}
